html, body {
	
}

#editor { 
	position: fixed;
	top: 48px;
	left: 0;
	height: calc(100% - 48px);
	width:50%;
}

#viewer {
	position: fixed;
	top: 48px;
	right: 0;
	height: calc(100% - 52px);
	width: calc(50% - 4px);
	background:#fff;
	border-width: 2px;
	border-style: inset;
	border-color: initial;
	border-image: initial;
}

button {
	position: fixed;
	height: 48px;
	border: 0;
	font-weight: bold;
	cursor: pointer;
	background: #f0f0f0;
	color: #2f3129;
	font-family: sans-serif;
	font-size: 16px;
	text-align: center;
	margin: 0;
	z-index: 9999;
}

#btnMin{
	top: 0;
	left: 0;
	border-right: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	width: 48px;
}
		
#btnRun{
	top: 0;
	left: 48px;
	width: calc(100% - 94px);
	border-bottom: 1px solid #dcdcdc;
}

#btnMax{
	top: 0;
	right: 0;
	border-left: 1px solid #dcdcdc;
	border-bottom: 1px solid #dcdcdc;
	width: 48px;
}